@model IEnumerable<LivroModel>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-5" >
            <h1>Livros</h1>
            <a class="btn btn-success mx-2" asp-controller="Livros" asp-action="Cadastrar"><i class="bi bi-journal-plus mx-2"></i> Cadastrar novo Livro</a>
        </div>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success text-light" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

       @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }



    <table id="Tabelas" class="table table-light table-hover mt-5">
         <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Proprietário</th>
                <th scope="col">Emprestado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach (var livros in Model)
                {
                <tr>
                     <th scope="row">@livros.Titulo</th>
                     <td>@livros.Id</td>
                     <td>@livros.Emprestado</td>
                     <td>
                         <a class="btn btn-warning mx-2 p-1" asp-controller="Livros" asp-action="Editar" asp-route-id="@livros.Id"><i class="bi bi-journal-medical"></i> Editar</a>
                         <a class="btn btn-danger mx-2" asp-controller="Livros" asp-action="Excluir" asp-route-id="@livros.Id"><i class="bi bi-bookmark-x"></i>Excluir</a>
                     </td>
                 </tr>
                }
            }
        </tbody>
    </table>
     </div>
